.skill{
  font-size:1.2rem;
  font-weight:500;
}
.lifont{
  font-family: 'Work Sans', sans-serif;
  font-weight: 300;
}

.lihover:hover{
  cursor: pointer;
  color:#DAD79A;
}
.anch{
  text-decoration: none;
  color:white;
}
.anch:hover{
  cursor: pointer;
  color:#DAD79A;
}